/*************************************************************************** Navigation & header ***************************************************************************/
header{
    display: flex;
    margin-top: 2% ;
    vertical-align: center;
}
.logoImg{
    padding-left: 2%;
    width:2.5%;
}

.logo{
    margin-left: 0.3%;
    width:10% ;
    height:5% ;
}

.nav{
    width: 90%;
    margin-top: 0.5%;
    margin-left: 3%;
}

.navItem{
    padding-top: 5%;
    margin-left: 3%;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navItem:hover{
    font-weight: bold;
    color: red;
}


.contact{
    margin-left: 50%;
    padding:1%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: #ffffff;
}

.contact:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(243, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}

.Blog{
    font-weight: bold;
}
/************************************************* Blog Grid Styles *************************************************/

body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.blog-Container{
    margin: 3% 3% 10% 15%;
    width: 70%;
}

.blog-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.blog-item{
    margin-left: 2%;
    margin-bottom: 120%;
}

.blog-header{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 20%;
    height: 40%;
    background-color: #00000080;
}

.blog-headerName{
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10%;
    display: flex;
}

.crown-Img{
    width: 40%;
    height: 5%;
    margin-left: 5%;
}

.dropDown-link{
    margin-left: 60%;
    margin-top: 5%;
}

.dropDown-icon{
    width: 55%;
}

.blog-textLink{
    position: absolute;
    z-index: 2;
    width: 90%;
    text-decoration: none;
    margin: 72% 0% 0% 5%;
}

.blog-text{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.blog-textLink:hover .blog-text{
    color: rgb(255, 99, 99);
}

.blog-Img{
    position: absolute;
    width: 20%;
    height: 40%;
    color: #000000;
}



/************************************************************ footer ************************************************************/
footer{
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 5%;
    background-color: #000000;
}