/*************************************************************************** Navigation & header ***************************************************************************/
header{
    display: flex;
    margin-top: 2% ;
    vertical-align: center;
}
.logoImg{
    padding-left: 2%;
    width:3.5%;
}

.logo{
    margin-left: 0.3%;
    width:15% ;
    height:10% ;
}

.nav{
    width: 90%;
    margin-top: 0.5%;
    margin-left: 8%;
}

.navItem{
    padding-top: 5%;
    margin-left: 8%;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navItem:hover{
    font-weight: bold;
    color: red;
}


.contact{
    margin-left: 20%;    
    padding:1%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    background-color: #ffffff;
}

.contact:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(243, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}


/*********************************************** Contact Styles ***********************************************/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    width: 95%;
    margin: 0;
    padding: 0;
    background: url('../Images/Background/contactBackground-1.jpg');
    background-size: cover;
}

.contact-container {
    max-width: 50%;
    margin: 5% 18% 0% 26%;
    padding: 1%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1%;
}

.contact-header {
    text-align: center;
    margin-bottom: 3%;
}

.contact-header h1 {
    margin: 0;
    color: #333;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form .form-group {
    width: 48%;
    margin-bottom: 2%;
}

.contact-form .form-group.full-width {
    width: 100%;
}

.contact-form label {
    display: block;
    margin-bottom: 1%;
    color: #333;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 2%;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    margin-left: 40%;
    background-color: #c21e1e;
    color: white;
    padding: 1.5% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #ff0000;
}

.contact-info {
    margin-top: 3.5%;
}

.contact-info h2 {
    color: #333;
    margin-bottom: 1%;
}

.contact-info p {
    color: #555;
    margin: 1% 0;
}