
/*************************************************************************** Navigation & header ***************************************************************************/
header{
    display: flex;
    margin-top: 2% ;
}

.logo{
    margin-left: 2%;
    width:10% ;
    height:10% ;
}

.nav{
    width: 90%;
    margin-top: 0.5%;
    margin-left: 10%;
}

.navItem{
    padding-top: 5%;
    margin-left: 2%;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.navItem:hover{
    font-size: 30px;
    font-weight: bold;
}

.contact{
    margin-left: 28%;
    padding:1%;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: blanchedalmond;
}

.contact:hover{
    font-size: 35px;
    color: aliceblue;
    background-color: black;
}

.Home{
    font-size: 30px;
    font-weight: bold;
}

/*************************************************************************** Top Picutre Styles ***************************************************************************/
body{
    width: 90%;
    margin: 0 auto;
}

.topPicture{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}

.clothingImage{
    width: 90%;
    height: 80%;
    position: absolute;
    z-index: 1;
}

.top{
    margin-left: 5%;
    width: 70%;
    position: relative;
    z-index: 2;
}

.topTitle{
    margin-top: 0.5%;
    font-size: 80px;
    font-weight: bold;
    color: black;
}

.topInfo{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.social{
    margin-top: 0.5%;
    margin-left:62%;
    position: relative;
    z-index: 2;
}
.socialIcons{
    width: 20%;
    border-radius: 10%;
}
.socialIcons:hover{
    width: 25%;
    border-radius: 10%;
}


/*************************************************************************** Our Story Styles ***************************************************************************/
.ourStory{
    display: flex;
    margin-top: 30%;
}

.storyImages{
    margin-left: 20%;
    display: flex;
}

.larryOne{
    width:15%;
    height:40%;
    border-radius: 150px 150px 0px 0px;
    position: absolute;
    z-index: 1;
}

.sunRun{
    width:100%;
    height:60%;
    top: 20%;
    left: 90%;
    margin-top: 100%;
    margin-left: 30%;
    position: relative;
    z-index: 2;
}

.storyInfo{
    margin-left: 20%;
    height: 5%;
}

.storyTitle{
    font-size: 70px;
    margin-bottom: 0%;
}

.celebrateText{
    font-size: 20px;
    font-weight: bold;
}

.storyText{
    width: 45%;
    font-size: 20px;
}


/*************************************************************************** About Us Styles ***************************************************************************/

.aboutUs{
    display: flex;
    margin-top: 15%;
}

.aboutInfo{
    margin-top: 3%;
    margin-left: 10%;
    width: 70%;
}

.aboutTitle{
    font-size: 80px;
    margin-bottom: 0%;
    margin-left: 8%;
}

.aboutText{
    width: 60%;
}

.aboutImage{
    width: 90%;
    height: 90%;
}

/*************************************************************************** Follow Us Styles ***************************************************************************/

.follow{
    margin-top: 5%;
    margin-bottom: 5%;
}

.followTitle{
    font-size: 70px;
    margin-left: 5%;
}

.followImgContainer{
    display: flex;
    margin-left: 5%;
    width: 100%;
    height: 20%;
}

.followImageOne {
    width: 30%;
    margin-right: 3%;
}

.followImageTwo{
    width:30%;
    margin-right: 3%;
}

.followImageThree{
    width:30%;
}
.instgramImage{
    position: absolute;
    z-index: 1;
    width: 25%;
    
}

.followText {
    margin-top: 0%; 
    padding: 30% 2.5% 14.4% 2.2%;
    background-color: rgba(0, 0, 0, 0.776);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: aliceblue;
    width: 88%;
    height: 58%;
}

.followTextTwo{
    margin-top: 0%; 
    padding: 30% 2.5% 5.5% 2%;
    background-color: rgba(0, 0, 0, 0.776);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: aliceblue;
    width: 88%;
    height: 68%;   
}



.followImageOne:hover .followText{
    position: relative;
    z-index: 2;
}

.followImageTwo:hover .followTextTwo{
    position: relative;
    z-index: 2;
}

.followImageThree:hover .followText{
    position: relative;
    z-index: 2;
}

.followBtn{
    margin-top: 8%;
    margin-left: 50%;
    padding: 0.5% 1% 0.5% 1% ;
    color: white;
    font-weight: bold;
    background-color: black;   
}








/*************************************************************************** Footer Styles ***************************************************************************/

footer{
    width: 100%;
    background-color: black;
}