/*************************************************************************** Navigation & header ***************************************************************************/
header{
    display: flex;
    margin-top: 2%;
}

.logo{
    margin-left: 8%;
    width:10% ;
    height:10% ;
}

.nav{
    width: 90%;
    margin-top: 0.5%;
    margin-left: 10%;
}

.navItem{
    padding-top: 5%;
    margin-left: 8%;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.navItem:hover{
    font-size: 30px;
    font-weight: bold;
}

.contact{
    margin-left: 18%;
    padding:1%;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: #ffffff;
}

.contact:hover{
    font-size: 35px;
    color: aliceblue;
    background-color: black;
}

.Repository{
    font-size: 30px;
    font-weight: bold;
}

/******************************************** Repository Login ********************************************/
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7e7a7a;
    /* background: url('your-background-image.jpg');
    background-size: cover; */
}
.login-container {
    margin: 0 auto;
    margin-top: 10%;    
    background-color: rgb(0, 0, 0);
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
}
.login-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ccc;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    width: 70%;
    padding: 10px;
    margin-top: 2%;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
}
.login-container input[type="submit"]:hover {
    background-color: #218838;
}